/* The .css for the locate page */

/* Text container */
.text {
	max-width: 1000px;
	position: relative;
	margin: auto;
	font-family: fantasy;
  	font-style: italic; 
}
/* Image */
.main-img {
	max-width: 60%;
  	height: auto;
	border-radius: 12px;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}