/* The .css for the locate page */

/* Thanks to https://www.w3schools.com/howto/howto_js_slideshow.asp */



* {
	box-sizing: border-box;
}

/*slideshow*/
.petSlideshow { 
	display: none
}

/*Image*/
img {
	vertical-align: middle;
}

/*Slideshow Container*/
.slideshow-container {
	max-width: 1000px;
	position: relative;
	margin: auto;
}

/* Previous and Next buttons to continue the slideshow */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Specify the 'next' button's postion */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* When you hover over the buttons, add a small transparent background */
.prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
}

/* Fade animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/*On smaller screens, decrease text size*/
@media only screen and(max-width: 300px) {
	.prev, .next {font-size: 11px}
}